body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #333;
    color: white;
    text-align: left; /* Alinhar cabeçalhos à esquerda */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.table-container {
    margin-bottom: 30px;
}

h1 {
    font-family: 'League Spartan', sans-serif; /* Aplica a fonte League Spartan */
    font-size: 2.0em; /* Ajuste o tamanho conforme necessário */
    text-align: center; /* Centraliza o título */
    color: #333; /* Cor desejada para o título */
    margin: 20px 0; /* Adiciona margem para espaçamento */
}


/* Centralizar apenas as figuras na tabela 1 */
#table1 td.new-column {
    text-align: center; /* Centraliza as células que contêm imagens */
    vertical-align: middle;
}

#table1 td.new-column img {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto; /* Centraliza a imagem dentro da célula */
}

table td {
    font-size: 14px;
    vertical-align: middle;
    text-align: left; /* Alinhar os dados à esquerda */
}

/* Estilo para as 4 primeiras linhas da coluna 2 (cor verde) */
#table1 tbody tr:nth-child(-n+4) td:nth-child(2) {
    color: #00ff00;
}

/* Estilo para as 4 últimas linhas da coluna 2 (cor vermelha) */
#table1 tbody tr:nth-last-child(-n+4) td:nth-child(2) {
    color: red;
}

/* Estilo para as colunas 3 e 4 da Tabela 1 (cor preta) */
#table1 td:nth-child(3),
#table1 td:nth-child(4) {
    color: black; /* Define a cor preta para as colunas 3 e 4 */
}

/* Centralizar os dados das colunas 2, 4, 6 e 8 da tabela 2 */
#table2 td:nth-child(2),
#table2 td:nth-child(4),
#table2 td:nth-child(6),
#table2 td:nth-child(8) {
    text-align: center; /* Centralizar as colunas 2, 4, 6 e 8 */
}

/* Estilo para as 4 primeiras linhas das colunas 1, 3, 5 e 7 da Tabela 2 (cor verde) */
#table2 tbody tr:nth-child(-n+4) td:nth-child(1),
#table2 tbody tr:nth-child(-n+4) td:nth-child(3),
#table2 tbody tr:nth-child(-n+4) td:nth-child(5),
#table2 tbody tr:nth-child(-n+4) td:nth-child(7) {
    color: #00ff00; /* Define a cor verde para as colunas 1, 3, 5 e 7 nas 4 primeiras linhas */
}

/* Estilo para as 4 últimas linhas das colunas 1, 3, 5 e 7 da Tabela 2 (cor vermelha) */
#table2 tbody tr:nth-last-child(-n+4) td:nth-child(1),
#table2 tbody tr:nth-last-child(-n+4) td:nth-child(3),
#table2 tbody tr:nth-last-child(-n+4) td:nth-child(5),
#table2 tbody tr:nth-last-child(-n+4) td:nth-child(7) {
    color: red; /* Define a cor vermelha para as colunas 1, 3, 5 e 7 nas 4 últimas linhas */
}

/* Estilo do ranking */
#ranking th, #ranking td {
    padding: 12px;
    text-align: left;
}
